*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
}

.section {
    min-height: 100%;
}

.row {
    display: flex;
    align-content: center;
    justify-content: center;
}
.col {
    flex: 1;
}

.text-center {
    text-align: center;    
}

.container {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
