#about {
}
#about img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: inline-block;
}

#about h2 {
    color: rgb(172, 38, 38);
}

.about-text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(121, 21, 21)
}