* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    clear: both; /* заборона обтікання для блоків з класом ".row" іншими блоками з обох сторін */
    overflow: hidden; /* зробити "невидимим" переповнення (вихід за межі вказаних розмірів) контентом елементів з класом ".row" */
    margin: 15px auto;	/* центрування по горизонталі - вирівнювання блоку з класом ".row" посередині відносно батьківського */
}

.col {
  float: left;
  width: 100%;
  padding-left: 15px;
}
.col:last-child {
  padding-right: 15px;  
}

.col .inside {
  padding: 15px;
}

h3 {
  text-align: center;
}
.main {
  width: 60%;
}
.aside {
  width: 40%;
}