#contacts {
    background-color:#FFFCFA;
    font-family: 'Amatic SC', sans-serif;
   font-weight: 600;
    font-size: 30pt;
    color: #94DBFF; 
    text-align: center;
    padding-top: 30px;
   
}

.url {
   font-family: 'Amatic SC', sans-serif;
    font-weight: 500;
    font-size: 25pt;
    color:#595959;
    text-align: center;
   
}

.heard {
    padding-top: 40px;
}

