
#portfolio {
    background-color: #F5C4BF;
}
body {
font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Love Ya Like A Sister', cursive;
}

*, *:before, *:after {
  box-sizing: border-box;
    text-decoration: none;
}

#main {
  display: flex;
    	flex-direction: column;
justify-content: center;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.nav {
  display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex: 1 1 auto;
    flex: 1 1 auto;
}

.nav-item {
  position: relative;
  padding: 0 5px;
  margin: 0 5px;
  font-size: 25px;
  font-weight: 550;
  color: #17402F;;
  text-decoration: none;
  line-height: 1.5;
}
.nav-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #595959;
  transition: all 500ms;
}
.nav-item.active {
  color: white;
}

.portfolio {
  display: flex;
    flex-flow: row wrap;
  padding: 0;
  margin-bottom: 0;
  list-style: none;
    justify-content: center;
}

.project {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100% - 20px);
          flex: 1 0 calc(100% - 20px);
  margin: 10px;
}
.project:hover .project-info {
  background: rgba(89, 89, 89, 0.7);
}
@media (min-width: 520px) {
  .project {
            flex: 0 0 calc((100% / 2) - 20px);
  }
}
@media (min-width: 860px) {
  .project {
            flex: 0 0 calc((100% / 3) - 20px);
  }
}

.project-image img {
  display: block;
  width: 100%;
  height: auto;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  color: #f6f6f6;
  background: rgba(89, 89, 89, 0.8);
  opacity: 0;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}
.project-info:hover {
  opacity: 1;
}
@media (max-width: 520px) {
  .project-info {
    opacity: .8;
  }
}

.project-info-title {
  margin: 0 0 .5em;
  font-size: 25pt;
  text-align: center;
  text-transform: uppercase;
}

.project-info-button {
  padding: .5em 1em;
  color: inherit;
  text-decoration: none;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
.project-info-button:hover {
  color: #595959;
  background: #f6f6f6;
  border-color: #f6f6f6;
}

#portfolio {
    font-size: 35pt;
    color: #17402F;
    padding-top: 20px;
}